<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Meu site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/favicon.ico">
    
</head>
<body>
    <header>
        <h1>Blog do Douglas</h1>
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; Blog do Douglas - 2024</p>
    </footer>
</body>
</html>